<div class="row bg-light text-dark text-center p-3">
    <div class="col">
        <h1 class="title">CScrape: Scrape the latest from CNET</h1>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col p-3 d-flex justify-content-center">
            <a href="/scrape"><button type="button" class="btn btn-danger m-2">Scrape</button></a>
            <a href="/saved"><button type="button" class="btn btn-success m-2">View Saved</button></a>
        </div>
    </div>

    {{#if article}}
    {{#each article}}
    <div class="row d-flex justify-content-left bg-primary text-white border-bottom border-dark p-3">
        <a href="{{link}}" target="_blank" class="text-white">
            <h4>{{title}}</h4>
        </a>
    </div>
    <div class="row p-3 bg-light">
        {{summary}}
    </div>
    <div class="row bg-light">
        <button type="button" class="btn btn-dark m-2 btn-comment" id="{{id}}">Comment</button>
        {{#if saved}}
        {{else}}
        <button type="button" class="btn btn-success m-2 btn-save" id="{{id}}">Save Article</button>
        {{/if}}
    </div>

    {{#if comment}}
    <div class="row text-white p-3 bg-light text-dark">
        <p>Comments:</p>
    </div>
    {{#each comment}}
    <div class="row text-white p-3 bg-light text-dark">
        {{body}}
    </div>
    <div class="row bg-light">
        <button type="button" class="btn btn-danger m-2 btn-delete-comment" id="{{id}}" data={{_id}}>Delete</button>
    </div>
    {{/each}}
    {{else}}
    <div class="row text-white p-3 bg-light text-dark">
        <p>No comments to display</p>
    </div>
    {{/if}}

    {{/each}}
    {{else}}
    <div class="row d-flex justify-content-center bg-primary text-white border-bottom border-dark p-3">
        <h4>No new articles to view. Click 'Scrape' to get the latest news from PFF.</h4>
    </div>
    {{/if}}
</div>


<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Enter your comment below</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="commentInput" cols="61" rows="5"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-primary btn-save-comment">Comment</button>
            </div>
        </div>
    </div>
</div>