<div class="container">

    <header class="header">
        <div class="header__heading-container">
            <h1 class="header__heading">CScrape</h1>
            <h2 class="header__heading header__heading-secondary">Scrape CNET for the latest in tech</h2>
        </div>
        <div class="header__button-container">
            <a href="/scrape"><button type="button" class="btn btn-scrape">Scrape</button></a>
            <a href="/saved"><button type="button" class="btn btn-view-saved">View Saved</button></a>
        </div>
    </header>

    <main class="article-list">
        {{#if article}}
        {{#each article}}
        <div class="article-card">
            <div class="article-card__title">
                <h3 class="article-card__title-text">
                    <a href="{{link}}" target="_blank" class="article-card__title-link">{{title}}</a></h3>
            </div>
            <div class="article-card__content">
                <img src="{{image}}" alt="{{title}}" class="article-card__content-img">
                <p class="article-card__content-summary-text">{{summary}}</p>
            </div>
            <div class="article-card__buttons">
                <div class="article-card__buttons-comment">
                    <button type="button" class="btn btn-comment" id="{{id}}">Comment</button>
                </div>
                {{#if saved}}
                {{else}}
                <div class="article-card__buttons-save">
                    <button type="button" class="btn btn-save" id="{{id}}">Save Article</button>
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{else}}
        {{/if}}
    </main>
</div>




{{!-- <div class="row text-dark text-center p-3">
    <div class="col">
        <h1 class="text-white heading-primary">CScrape</h1>
        <h2 class="text-white heading-secondary">Scrape the latest from CNET</h2>
        <a href="/scrape"><button type="button" class="btn btn-danger m-2">Scrape</button></a>
        <a href="/saved"><button type="button" class="btn btn-success m-2">View Saved</button></a>
    </div>
</div>

<div class="container mb-5">

    {{#if article}}
    {{#each article}}
    <div class="article-card">
        <div class="row d-flex justify-content-left bg-primary text-white border-bottom border-dark p-3">
            <a href="{{link}}" target="_blank" class="text-white">
                <h4>{{title}}</h4>
            </a>
        </div>
        <div class="row p-3 bg-light">
            {{summary}}
        </div>
        <div class="row bg-light">
            <button type="button" class="btn btn-dark m-2 btn-comment" id="{{id}}">Comment</button>
            {{#if saved}}
            {{else}}
            <button type="button" class="btn btn-success m-2 btn-save" id="{{id}}">Save Article</button>
            {{/if}}
        </div>

        {{#if comment}}
        <div class="row text-white p-3 bg-light text-dark">
            <p>Comments:</p>
        </div>
        {{#each comment}}
        <div class="row text-white p-3 bg-light text-dark">
            {{body}}
        </div>
        <div class="row bg-light">
            <button type="button" class="btn btn-danger m-2 btn-delete-comment" id="{{id}}" data={{_id}}>Delete</button>
        </div>
        {{/each}}
        {{else}}
        <div class="row text-white p-3 bg-light text-dark">
            <p>No comments to display</p>
        </div>
    </div>
    {{/if}}

    {{/each}}
    {{else}}
    <div class="row d-flex justify-content-center bg-primary text-white border-bottom border-dark p-3">
        <h4>No new articles to view. Click 'Scrape' to get the latest news from PFF.</h4>
    </div>
    {{/if}}
</div>


<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Enter your comment below</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="commentInput" cols="61" rows="5"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-primary btn-save-comment">Comment</button>
            </div>
        </div>
    </div>
</div> --}}