<div class="row bg-light text-dark text-center p-3">
    <div class="col">
        <h1 class="title">CScrape: Scrape the latest from CNET</h1>
    </div>
</div>

<div class="container mb-5">

    <div class="row">
        <div class="col p-3 d-flex justify-content-center">
            <a href="/"><button type="button" class="btn btn-success m-2">Back Home</button></a>
        </div>
    </div>

    {{#if article}}
    {{#each article}}
    <div class="row d-flex justify-content-left bg-primary text-white border-bottom border-dark p-3">
        <a href="{{link}}" target="_blank" class="text-white">
            <h4>{{title}}</h4>
        </a>
    </div>
    <div class="row p-3 bg-light">
        {{summary}}
    </div>

    <div class="row bg-light">
        <button type="button" class="btn btn-danger m-2 btn-remove-saved" data="{{id}}">Remove from Saved</button>
    </div>

    {{/each}}
    {{else}}
    <div class="row d-flex justify-content-center bg-primary text-white border-bottom border-dark p-3">
        <h4>No saved articles to view.</h4>
    </div>
    {{/if}}
</div>